.rex {
  font-size: x-large;
  margin-left: 10px;
  background-color: blue;
  color: whitesmoke;
}
.answer {
  margin-left: 10px;
}
.wrong {
  margin-left: 10px;
  color: red;
}
.missed {
  margin-left: 10px;
  color: red;
}
table, th, td {
  border: 1px solid blue;
}
.questiondiv {
  margin-left: 5vh;
}
.guessdiv {
  margin-left: 5vh;
}
.resultsdiv {
  margin-left: 5vh;
}
