.rexlabel {
  font-size: x-large;
  padding-left: 2px;
  background-color: rgb(200, 260, 250);
  color: black;
}
.rex {
  font-size: x-large;
  margin-left: 10px;
  background-color: blue;
  color: whitesmoke;
  text-align: center;
}
.answer {
  margin-left: 1px;
  width: max-content;
}
.correct::after {
  content: ' ❤️';
}
.wrong::after {
  content: ' 🤥';
}
.missed::after {
  content: ' 🙈';
}
table, th, td {
  border: 1px solid blue;
}
.questiondiv {
  margin-top: 1vh;
}
.guessdiv {
  margin-top: 1vh;
  width: 35%;
}
.resultsdiv {
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.levellistdiv {
  width: fit-content;
}
.quizlistdiv {
  width: fit-content;
}
.qadiv {
  margin-top: 1vh;
  background-color: maroon;
  color: whitesmoke;
  width: fit-content;
  border: 13px solid burlywood;
  border-radius: 15px;
}