.solveOnePhoneygram {
    background-color: blue;
}
.phoneygramdiv {
    margin-top: 1vh;
}
.solvephoneygram {
    font-family: 'Courier New', Courier, monospace;
    font-size: 5vw;
}
.solvephoneygram::after {
    content: '*';
    vertical-align: middle;
}
.phoneygramAnswerTable {
    width: fit-content;
    align-items: center;
    display: inline;
    font-size: 4vw;
}
.wordSolved {
    color: chartreuse;
}
.wordUnsolved {
    color: blue;
}
.wordSolved, .wordUnsolved {
    border: 3px solid whitesmoke;
    border-radius: 15px;
    padding: 0 1vw;
}
.showGuesses {
    width: 90%;
    word-wrap: normal;
}
.phoneygramsInputWordDiv {
    padding: 10px;
}
.phoneygramButton {
    border-radius: 15%;
    margin: 5px;
    font-size: large;
}