.ladder {
    border-left: 10px solid brown;
    border-right: 10px solid brown;
    min-width: 100px;
    width: fit-content;
    background-color: bisque;
    margin-left: 20px;
    padding-top: 10px;
}
.rung {
    min-height: 30px;
    margin: auto;
    text-align: center;
}
.good {
    border-top: 10px solid green;
}
.good::after {
    content: 'Yes!';
}
.bad {
    border-top: 10px solid red;
}
.bad::after {
    content: 'Aarrghh!!!';
}
.tbd {
    border-top: 10px solid brown;
}
.perfect {
    border-top: 10px solid green;
}
.perfect::after {
    content: 'Success!';
}
