.wordButton {
    padding: 10px 5px;
    margin: 10px 5px;
    border: 5px solid black;
    border-radius: 15px;
    width: 170px;
}
.explosion::before {
    content: "💥";
    background-color: black;
}
.explosion::after {
    content: "💥";
    background-color: black;
}
.heart::after {
    content: "❤️";
}